In [1]:
#import dependancies
import pymongo
import pandas as pd

from glob import glob
import os

In [2]:
#
stock_files = glob('../Components/*.csv')

for i, f in enumerate(stock_files):
    if i == 0:
        df = pd.read_csv(f)
        df['Stock'] = f
    else:
        tmp = pd.read_csv(f)
        tmp['Stock'] = f
        df = df.append(tmp)

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock
0,2020-01-01,296.239990,327.850006,292.750000,309.510010,307.943604,733592600,../Components\AAPL.csv
1,2020-02-01,304.299988,327.220001,256.369995,273.359985,271.976532,754645900,../Components\AAPL.csv
2,2020-03-01,282.279999,304.000000,212.610001,254.289993,253.603500,1570018100,../Components\AAPL.csv
3,2020-04-01,246.500000,294.529999,236.899994,293.799988,293.006836,816222400,../Components\AAPL.csv
4,2020-05-01,286.250000,324.239990,285.850006,317.940002,317.081665,701520600,../Components\AAPL.csv

In [7]:
df.Stock =[x.strip('"../Components\\"&''.csv') for x in df.Stock]
Stock_df = df[["Stock", "Date","Open","High","Low","Close","Adj Close","Volume"]]

In [8]:
Stock_df

,Stock,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,2020-01-01,296.239990,327.850006,292.750000,309.510010,307.943604,733592600
1,AAPL,2020-02-01,304.299988,327.220001,256.369995,273.359985,271.976532,754645900
2,AAPL,2020-03-01,282.279999,304.000000,212.610001,254.289993,253.603500,1570018100
3,AAPL,2020-04-01,246.500000,294.529999,236.899994,293.799988,293.006836,816222400
4,AAPL,2020-05-01,286.250000,324.239990,285.850006,317.940002,317.081665,701520600
...,...,...,...,...,...,...,...,...
1,XOM,2020-02-01,61.380001,63.009998,48.009998,51.439999,49.747387,479867900
2,XOM,2020-03-01,52.590000,54.150002,30.110001,37.970001,37.247791,1171277200
3,XOM,2020-04-01,36.860001,47.680000,36.340000,46.470001,45.586117,791555400
4,XOM,2020-05-01,45.630001,47.150002,40.200001,45.470001,44.605137,477191300
5,XOM,2020-06-01,45.320000,55.360001,44.799999,53.520000,53.520000,185671300

In [9]:
# Connect to MongoDB

client = pymongo.MongoClient('localhost',27017)
db = client['stocks'] #access stocks db

In [13]:
# create collection in stocks db
db.stock_data.drop()
collection = db['stock_data']

In [14]:
# write df to dictionary
stock_dict = Stock_df.to_dict("records")

In [15]:
# Insert collection
collection.insert_many(stock_dict)